h2, h1, h3 {
    margin: 0px 0;
}

.content {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 20px;
    gap: 20px;

    background-color: var(--main-color-1);
}

.order-entry {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px;

    padding: 10px;
    background-color: var(--main-color-2);

    img {
        height: 100px;
        border-radius: 5px;
    }

    h3, p {
        margin: 0;
        margin-bottom: 3px;
    }
}

.order-data {
    display: flex;
    flex-direction: column;
    gap: 10px;

    h2, h1, h3 {
        margin: 10px 0;
    }

    .order-paymenttype > div {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .order-checkout button {
        padding: 15px;
    }
}

.contact-credentials {
    display: flex;
    flex-direction: column;
    gap: 10px;

    div {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
}