.entry-bg {
    display: grid;
    grid-template-columns: 1fr 1.7fr;
    padding: 20px;
    background-color: var(--main-color-1);
    gap: 40px;
}

h2, h3, h4, p {
    margin: 5px 0;
}
h2 {
    font-size: 1.35em;
}

.price {
    color: var(--text-color-2);
}

.info-section {
    display: flex;
    flex-direction: column;
    justify-content: start;

    input {
        display: block;
        margin: 3px 0;
    }
}

.info-column {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.material-select {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.material-tag {
    background-color: var(--main-color-1);
    border: 1px solid var(--main-color-3);
    padding: 2px 8px;
    border-radius: 1.5em;
    user-select: none;
    cursor: pointer;
}
.material-tag p {
    text-transform: lowercase;
}
.material-tag:hover {
    border: 1px solid var(--second-color-3-hover);
}
.material-tag.active {
    border: 1px solid var(--second-color-3);
}

.material-entry {
    --mat-entry-width: 100px;
    width: var(--mat-entry-width);
    border-radius: 10px;
    cursor: pointer;
}
.material-entry.active {
    outline: 1px solid var(--second-color-3);
}
.material-entry img {
    border-radius: 10px;
    width: var(--mat-entry-width);
    height: var(--mat-entry-width);
}
.material-entry p {
    margin: 0;
}


.material-entry p {
    color: var(--text-color-2);
    font-size: 0.8em;
    word-wrap: normal;
    text-align: center;
}

.price-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.rooms-calc {
    display: flex;
    flex-direction: column;
    margin: 5px 0;
    gap: 5px;
    p {
        margin: 0;
    }

    .calculator-room-entry {
        display: flex;
        gap: 10px;

        align-items: center;

        .remove {
            text-decoration: underline;
            cursor: pointer;
        }
    }
    
    input {
        width: 110px;
    }
}