{% extends "wallpaperfactory/base.html" %}
{% load render_bundle from webpack_loader %}
{% load static %}

{% block head %}
{{ block.super }}
<title>Студия дизайнерских обоев</title>
<link rel="stylesheet" href="{% static 'wallpaperfactory/css/profile.css' %}">
{% endblock %}

{% block content %}

{{ breadcrumbs | json_script:"breadcrumbs-payload" }}

<div class="content-wrapper" id="content">
    {% include "wallpaperfactory/navbar.html" %}
    {% include "wallpaperfactory/breadcrumbs.html" %}
    
    <div class="content" id="app">
        <div class="profile-window">
            {% include "wallpaperfactory/profile/profile_tabs.html" %}
            <div class="profile-content">

            </div>
        </div>
    </div>
</div>

{% block scripts %}
    {{ block.super }}
    {% render_bundle 'breadcrumbs' %}
    {% render_bundle 'profile_accounting' %}
{% endblock %}

{% endblock %}