<div class="profile-tabs">
    <a href="/profile/info" class="tab {% if current_tab_name == 'account' %}current{% endif %}">Аккаунт</a>
    <a href="/profile/orders" class="tab {% if current_tab_name == 'orders' %}current{% endif %}">Заказы</a>
    <a href="/profile/chats" class="tab {% if current_tab_name == 'chats' %}current{% endif %}">Связь с клиентами</a>
    <a href="/profile/accounting" class="tab {% if current_tab_name == 'accounting' %}current{% endif %}">Учёт финансов</a>
    <a href="/logout" class="red">Выйти</a>
</div>