{% extends "wallpaperfactory/base.html" %}
{% load render_bundle from webpack_loader %}
{% load static %}

{% block head %}
{{ block.super }}
<title>Студия дизайнерских обоев</title>
<link rel="stylesheet" href="{% static 'wallpaperfactory/css/profile.css' %}">
{% endblock %}

{% block content %}

{{ breadcrumbs | json_script:"breadcrumbs-payload" }}

<div class="content-wrapper" id="content">
    {% include "wallpaperfactory/navbar.html" %}
    {% include "wallpaperfactory/breadcrumbs.html" %}
    
    <div class="content" id="app">
        {% include "wallpaperfactory/profile/profile_tabs.html" %}

        <div class="profile-content">
            <form method="post" class="account-info">
                {% csrf_token %}
                
                <div class="profile-info-segment">
                    <p>Имя пользователя</p>
                    {{ account_info_form.username }}
                    
                    <p>Email</p>
                    {{ account_info_form.email }}
                </div>
            
            
                <div class="profile-info-segment">
                    <p>Фамилия</p>
                    {{ account_info_form.last_name }}
                    <p>Имя</p>
                    {{ account_info_form.first_name }}
                    <p>Отчество</p>
                    {{ account_info_form.second_name }}
                </div>
            
                <div class="profile-info-segment">
                    <p>Смена пароля</p>
                    {{ account_info_form.password }}
                    {{ account_info_form.password_repeat }}
                </div>
            
                <div>
                    <button type="submit">Применить</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% block scripts %}
    {{ block.super }}
    {% render_bundle 'breadcrumbs' %}
    {% render_bundle 'profile_info' %}
{% endblock %}

{% endblock %}