{% extends "wallpaperfactory/base.html" %}
{% load render_bundle from webpack_loader %}
{% load static %}

{% block head %}
{{ block.super }}
<title>Студия дизайнерских обоев</title>
<link rel="stylesheet" href="{% static 'wallpaperfactory/css/profile.css' %}">
{% endblock %}

{% block content %}

{{ breadcrumbs | json_script:"breadcrumbs-payload" }}
{{ orders | json_script:"orders" }}

<div class="content-wrapper" id="content">
    {% include "wallpaperfactory/navbar.html" %}
    {% include "wallpaperfactory/breadcrumbs.html" %}
    
    <div class="content profile-window">
        {% include "wallpaperfactory/profile/profile_tabs.html" %}

        <div class="profile-content" id="app">
            
            <template v-for="order in orders">

                <div class="order-entry">
                    <div>
                        <template v-if="order.is_custom">
                            <img :src="order.data.main_image" alt="">
                        </template>
                        <template v-else>
                            <img :src="order.entry.main_image" alt="">
                        </template>
                    </div>

                    <div>
                        <template v-if="order.is_custom">
                            <h3>Индивидуальный заказ</h3>
                        </template>
                        <template v-else>
                            <h3 v-text="'Обои ' + order.entry.name"></h3>
                        </template>

                        <p>
                            <span>Материал: </span>
                            <strong><span v-text="order.material.displayname"></span></strong>
                        </p>
                        <p v-if="order.data.m_sq_count">
                            <span>Количество квадратных метров: </span>
                            <strong><span v-text="order.data.m_sq_count"></span></strong>
                        </p>
                    </div>

                    <div class="status-section">
                        <p class="tag yellow" v-if="order.status == 0">В процессе</p>
                        <p class="tag yellow" v-if="order.status == 1">Доставка</p>
                        <p class="tag green" v-if="order.status == 2">Завершён</p>
                        <p class="tag red" v-if="order.status == 3">Отменён</p>

                        <p class="order-date" v-text="order.human_date"></p>
                    </div>
                </div>
            </template>
        </div>
    </div>
</div>

{% block scripts %}
    {{ block.super }}
    {% render_bundle 'breadcrumbs' %}
    {% render_bundle 'profile_orders' %}
{% endblock %}

{% endblock %}