{% extends "wallpaperfactory/base.html" %}
{% load render_bundle from webpack_loader %}
{% load static %}

{% block head %}
{{ block.super }}
<title>Вход | Студия дизайнерских обоев</title>
<link rel="stylesheet" href="{% static 'wallpaperfactory/css/login.css' %}">
{% endblock %}

{% block content %}

{{ entries | json_script:"entries" }}
{{ tags | json_script:"tags" }}
{{ materials | json_script:"materials" }}
{{ breadcrumbs | json_script:"breadcrumbs-payload" }}
{{ entries_per_page | json_script:"entries_per_page" }}
{{ current_page | json_script:"current_page" }}
{{ pages_total | json_script:"pages_total" }}

<div class="content-wrapper" id="content">
    {% include "wallpaperfactory/navbar.html" %}
    {% include "wallpaperfactory/breadcrumbs.html" %}
    
    <div class="content">
        <form method="post" class="login-window">
            <div>
                <h2>Вход</h2>
                {% if data_is_wrong == 1 %}
                    <p class="error-message">
                        Введены неверные данные
                    </p>
                {% endif %}
            </div>
            <div>
                {% csrf_token %}
                {{ form.as_p }}
            </div>
            <div style="display: flex; flex-direction: column;">
                <a href="/register" class="no-account">Нет аккаунта?</a>
                <button type="submit">Войти</button>
            </div>
        </form>
    </div>
</div>

{% block scripts %}
    {{ block.super }}
    {% render_bundle 'breadcrumbs' %}
{% endblock %}

{% endblock %}