{% extends "wallpaperfactory/base.html" %}
{% load render_bundle from webpack_loader %}
{% load static %}

{% block head %}
{{ block.super }}
<title>Регистрация | Студия дизайнерских обоев</title>
<link rel="stylesheet" href="{% static 'wallpaperfactory/css/login.css' %}">
{% endblock %}

{% block content %}

{{ breadcrumbs | json_script:"breadcrumbs-payload" }}

<div class="content-wrapper" id="content">
    {% include "wallpaperfactory/navbar.html" %}
    {% include "wallpaperfactory/breadcrumbs.html" %}
    
    <div class="content">
        <form method="post" class="login-window">
            <div>
                <h2>Регистрация</h2>
                {% if data_is_wrong == 1 %}
                    <p class="error-message">
                        Введены неверные данные
                    </p>
                {% endif %}
            </div>
            <div class="form-fields">
                {% csrf_token %}
                {{ form.as_p }}
            </div>
            <button type="submit">Зарегистрироваться</button>
        </form>
    </div>
</div>

{% block scripts %}
    {{ block.super }}
    {% render_bundle 'breadcrumbs' %}
{% endblock %}

{% endblock %}